header {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: auto;
  padding: 20px 20px 0;
  background-color: var(--color-blue-secondary);
}

.ok{
  box-shadow: 10px 0px 20px rgba(255, 255, 255, 0.5);
}

.navbar {
  padding-bottom: 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo h1 {
  color: var(--color-white);
  font-weight: 800;
  font-size: 34px;
}

.navbar-logo h1 span {
  color: var(--color-orange);
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-link a {
  font-size: 16px;
  color: var(--color-white-secondary);
  font-weight: 600;
  position: relative;
  letter-spacing: 0.05rem;
}

.nav-link a:hover {
  color: var(--color-white);
}

.nav-link a:hover::before {
  width: 100%;
}

.nav-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: var(--color-orange);
  transition: all 0.3s ease-in;
}

.nav-toggle {
  display: none;
}

.nav-toggle i {
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: var(--color-orange);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.social-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 10px;
  left: 2%;
}

.social-content i {
  color: var(--color-white-blue);
  font-size: 20px;
}

.social-content i:hover {
  color: var(--color-white);
}

@media (max-width: 890px) {
  .navbar.active {
    border-bottom: 2px solid var(--color-white);
  }
  .nav-list {
    position: fixed;
    background-color: var(--color-blue-secondary);
    top: 0;
    right: -100%;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 20px;
    justify-content: flex-start;
  }

  .nav-list.active {
    right: 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-link a {
    font-size: 28px;
    font-weight: 800;
  }
}
