.home {
  position: relative;
  width: 100%;
  min-height: calc(100vh + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-secondary);
}

.home-content {
  width: 70%;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.home-content h1 {
  color: var(--color-white);
  font-size: 44px;
  text-transform: capitalize;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.home-content p {
  color: var(--color-white-blue);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05px;
  margin-top: 30px;
  line-height: 28px;
}

.home-content a {
  background-color: var(--color-white);
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 54px;
  margin-top: 36px;
  border-radius: 70px;
  border: 3px solid var(--color-orange);
  color: var(--color-orange);
  font-weight: 700;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.home-content a i {
  background-color: var(--color-orange);
  color: var(--color-white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: relative;
  left: 20px;
}
.home1 {
  width: 100%;
  max-width: 180px;
  position: absolute;
  left: 7%;
  bottom: 10%;
  rotate: -40deg;
  z-index: 1;
}

.home2 {
  width: 100%;
  max-width: 180px;
  position: absolute;
  right: 7%;
  top: 10%;
  rotate: 20deg;
  z-index: 1;
}

.social-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 16px;
  left: 3.5%;
}

.social-content i {
  color: var(--color-white-blue);
  font-size: 20px;
}

.social-content i:hover {
  color: var(--color-white);
}

@media (max-width: 890px) {
  .home-content {
    width: 100%;
  }

  .social-content {
    display: none;
  }
}

@media (max-width: 500px) {
  .home-content h1 {
    font-size: 30px;
  }

  .home-content p {
    margin-top: 20px;
    font-size: 15px;
  }

  .home-content a {
    margin-top: 20px;
  }
}
