.service {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px 25px;
}

.service-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.service-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-text-left {
  max-width: 660px;
}

.service-text-left h1 {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--color-black-secondary);
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.service-text-left h1 span {
  color: var(--color-orange);
}

.service-text-left p {
  color: var(--color-black-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.service-text-right {
  border-left: 2px solid var(--color-blue);
  padding: 40px 0 40px 40px;
}

.service-text-right h3 {
  color: var(--color-black-secondary);
}

.service-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.service-link{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  background-color: var(--color-white-blue);
  padding: 20px 25px;
  border-radius: 20px 40px;
  height: 250px;
  cursor: pointer;
  margin-top: 20px;
}

.service-link:hover{
  background-color: var(--color-blue);
}

.service-icon i{
  background-color: var(--color-white);
  height: 76px;
  width: 76px;
  border-radius: 100%;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black-secondary);
}

.service-link h1{
  font-size: 18px;
  font-weight: 800;
  color: var(--color-black-secondary);
  margin: 10px 0 5px;
}

.service-link p{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .2px;
  color: var(--color-black-secondary);
}

@media (max-width: 500px) {
    .service-text-left h1{
        font-size: 34px;
    } 

    .service-text-right {
        margin-top: 20px;
        padding: 20px 0 20px 20px;
    }
}