@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --color-black: #272727;
  --color-black-secondary: #454545;
  --color-white: #ffffff;
  --color-white-secondary: #ebf6fa;
  --color-orange: #feb44d;
  --color-blue: #61bbd6;
  --color-blue-secondary: #71c2da;
  --color-white-blue: #d6eef5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  transition: all 0.5s ease-in-out;
}
